body {
  margin: 5%
  padding: 20px;
}

.jumbotron {
  background-color: #grey;
  margin: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 10px;
  border-color: #black;
}

#computerSpeak {
  display: none;
  background-color: #lightgrey;
  margin: 15px;;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 10px;
  border-color: #black;
}

.button {
  border: none;
  color: white;
  margin-top: 15px;
  background-color: #lightblue;
}
