html {
  height: 100%;
  background: url("../images/hal.jpg") no-repeat center center;
  background-size: cover;
  background-position-y: inherit;
  font-family: sans-serif;
  color: blue;
}
#container {
  padding: 15px;
  margin: 15px;
}
body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-color: red;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 10px;
  border-color: #black;
}

.result {
  display: none;
}

.button {
  border: none;
  color: white;
  margin-top: 15px;
  /* background-color: #lightblue; */
}
